.camcontainer{
  display: grid;
  width: 1110px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 90px;
  grid-gap: 1rem;
}

.contcam{
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-areas: "imgcam infocam";
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  width: 355px;
  height: 90px;
  background: #ffffff;
  border: 1px lightgrey solid;
.imgcam{
    grid-area: imgcam;
    grid-column: 1/2;
    width: 120px;
    background: grey;
    img{
        width: 120px;
        height: 88px;
    }
}
.infocam{
    grid-area: infocam;
    grid-column: 2/3;
    width: auto;
    padding: 5px;
    h3 {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0px 0px 5px 0px;
    }
    h4 {
        font-size: .7rem;
        margin: 0px 0px 10px 0px;
    }
}

}


@media screen and (max-width: 1024px){ //ipad
  .camcontainer{
    width: 100%;
    grid-column-gap: 0px;
  }
  .contcam{
    width: 100%;
    background: #ffffff;
    border: 1px rgb(200, 205, 209) solid;
    .infocam{
        h3 {
            font-size: .9rem;
            text-transform: uppercase;
            margin: 0px 0px 5px 0px;
        }
        h4 {
            font-size: .6rem;
            margin: 0px 0px 10px 0px;
        }
    }    
  }
}
.active{
  color: white;
  background: rgb(53, 164, 255);
}
@media screen and (max-width: 823px){ //ipad vertical
.camcontainer{
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}  
.contcam .infocam{
    h3 {
        font-size: .9rem;
        text-transform: uppercase;
        margin: 0px 0px 5px 0px;
    }
    h4 {
        font-size: .6rem;
        margin: 0px 0px 10px 0px;
    }
}
} 
@media screen and (max-width: 525px){
  .camcontainer{
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: stretch;
    grid-gap: 0;
  }
  .contcam{
    width: 100%;
    margin-bottom: 0px;
    background: #ffffff;
    border: 1px rgb(200, 205, 209) solid;
  }
} 

@media screen and (max-width: 320px){
  .camcontainer{
    width: 100%;
    grid-template-columns: 1fr;
    justify-content: stretch;
    grid-gap: 0;
  }
  .contcam{
    width: 100%;
    margin-bottom: 0px;
    background: #ffffff;
    border-bottom: 1px rgb(236, 236, 236) solid;
    .infocam{
        h3 {
            font-size: .8rem;
            text-transform: uppercase;
            margin: 0px 0px 5px 0px;
        }
        h4 {
            font-size: .6rem;
            margin: 0px 0px 10px 0px;
        }
    }
  }
} 

.animate {
  animation : shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
   background-size: 1000px 100%;
}

@keyframes shimmer {
 0% {
   background-position: -1000px 0;
 }
 100% {
   background-position: 1000px 0;
 }
}
.lines {
  height: 10px;
  margin-top: 5px;
  width: 200px; 
}

.photo {
  display: block!important;
  width: 120px; 
  height: 88px; 
}